*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: "PingFangSC-Regular", "Microsoft Yahei", sans-serif;
  line-height: 1.4;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

header {
  transition: 0.5s;
}

.menu.scrolled {
  /* background-color: black; */
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.hide {
  display: none;
}

.mobile {
  display: none !important;
}

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: white;
}

.tm40-foo {
  margin-top: -80px;
  margin-bottom: 60px;
}
.tm5 {
  margin-top: 5px;
}
.tm10 {
  margin-top: 10px;
}
.tm20 {
  margin-top: 20px;
}

.tm30 {
  margin-top: 30px;
}

.tm40 {
  margin-top: 40px;
}

.tm60 {
  margin-top: 60px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}
.mb60 {
  margin-bottom: 60px;
}

.swiper {
  height: 100vh;
  background: #000;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.a {
  background-image: url(../images/View13.jpg);
  background-position: top center;
  background-size: cover;
}

.b {
  background-image: url(../images/View1.jpg);
  background-position: top center;
  background-size: cover;
}

.c {
  background-image: url(../images/View8.jpg);
  background-position: top center;
  background-size: cover;
}

.d {
  background-image: url(../images/View9.jpg);
  background-position: top center;
  background-size: cover;
}

.swiper .mask {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  left: 0px;
  top: 0px;
}

.swiper .zcolor {
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.swiper .ftext1 {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}

.swiper .ftext2 {
  font-size: 18px;
  text-align: center;
}

.swiper .ftext3 {
  font-size: 14px;
  text-align: center;
}

.swiper .ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 1100px;
  margin: 0 auto;
}

.menu {
  position: fixed;
  z-index: 101;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

.pcmenu_container {
  width: 1200px;
  /* width: 70%; */
  /* min-width: 1000px; */
  margin: 0 auto;
  overflow: hidden;
}

.menu .menu_logo {
  float: left;
  width: 261px;
  height: 32px;
  margin-top: 31px;
  /* margin-left: 10px; */
  background-image: url(../images/logo.png);
  background-size: cover;
}

.menu .rightmenu {
  float: right;
}

.menu ul {
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.menu ul li {
  float: left;
  display: inline-block;
  padding: 0;
  padding-left: 80px;
  letter-spacing: 0.06em;
}

.menu .rightmenu li a {
  letter-spacing: 0em;
  text-decoration: none;
}

.menu .rightmenu li a p {
  margin: 0;
  color: #ffffff;
  font-size: 19px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);

}

.menu .rightmenu li a .menu_active {
  height: 31px;
  border-bottom: 4px solid #0067C0;
}

.menu .rightmenu li a p:hover {
  height: 31px;
  border-bottom: 4px solid #0067C0
}

:root {
  --swiper-navigation-size: 24px;
}

:root {
  --swiper-theme-color: rgba(255, 255, 255, 0.6);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  transition: 0.5s;
  opacity: 0;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #0067C0;
}

.swiper-pagination-bullet {
  background-color: #0067C0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 40px;
  left: 0;
  width: 100%;
}

.fbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}

.hbox {
  background: #F7FAFF;
  width: 100%;
}

.bgw {
  background: #ffffff;
}

.btt {
  text-align: center;
  color: #000;
  font-size: 28px;
  margin: 0px auto 40px auto;
  border-bottom: 2px solid #999;
  height: 55px;
}

.btt-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 50px 0px;
  min-height: 700px;
}

.btt-left {
  width: 400px;
}

.btt-right {
  background-image: url(../images/t1.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: 670px;
  height: 557px;
}

.ft36 {
  font-size: 36px;
  color: #000;
  font-weight: bolder;
}
.ft12 {
  font-size: 12px;
  color: #666;
}
.ft14 {
  font-size: 14px;
  color: #666;
}
.ft16 {
  font-size: 16px;
  color: #666;
}
.ft16 b {
  font-weight: bolder;
  color: #000;
}
.ft18s {
  font-size: 18px;
  color: #fff;
}

.ft18 {
  font-size: 18px;
  color: #666;
}

.ft18 b {
  font-weight: bolder;
  color: #000;
}

.btt-left-j {
  background-image: url(../images/View9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 500px;
}

.btt-right-j {
  width: 670px;
}

.dh-btn {
  width: 480px;
  display: flex;
  margin: 0px auto 50px auto;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}

.dh-btn1 {
  border: 1px solid #0067C0;
  padding: 6px 42px;
  text-align: center;
  color: #000;
  border-radius: 100px;
  font-size: 16px;
}

.dh-btn1.vii {
  background: #0067C0;
  color: #ffffff
}

.btt-right-s {
  background-image: url(../images/View2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 500px;
}

.btt-left-s {
  width: 670px;
}

.btt-left-v {
  background-image: url(../images/View8.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 450px;
  height: 500px;
}

.btt-right-v {
  width: 670px;
}

.bok {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bok div {
  width: 130px;
}

.bok p b {
  font-size: 16px;
  color: #000;
}

.bok p {
  font-size: 14px;
  color: #666666;
  margin: 10px 0px;
}

.ali {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 1200px;
}

.ali div {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.ali div p {
  margin: 30px 0px 20px 30px;
  font-size: 18px;
  color: #fff;
}

.ali1 {
  background-image: url(../images/ali1.jpg);
  width: 390px;
  height: 530px;
  background-repeat: no-repeat;
}

.ali2 {
  background-image: url(../images/ali2.jpg);
  width: 390px;
  height: 530px;
  background-repeat: no-repeat;
}

.ali3 {
  background-image: url(../images/ali3.jpg);
  width: 390px;
  height: 530px;
  background-repeat: no-repeat;
}

.ali4 {
  background-image: url(../images/ali4.jpg);
  width: 390px;
  height: 530px;
  background-repeat: no-repeat;
}

.ali5 {
  background-image: url(../images/ali5.jpg);
  width: 390px;
  height: 530px;
  background-repeat: no-repeat;
}

.ali6 {
  background-image: url(../images/ali6.jpg);
  width: 390px;
  height: 530px;
  background-repeat: no-repeat;
}

 .foot{background-color: #262626;width: 100%;}
 .foot2{background-color: #262626;width: 100%;border-top:1px solid #444;}
 .ftb{width: 1200px;margin: 0 auto;display: flex;
  flex-direction: row;
  justify-content: space-between;padding:40px 0px 30px 0px;font-size: 14px;}
  .ftleft,.ftright{display: flex;flex-direction: column;color:#fff;}
  .foot2 .ftb{padding: 20px 0px 20px 0px;font-size: 12px;color:#999}
  .c9{color:#999}